#editor {
    width: max-content;
    margin: 0 auto;
}

#title {
    text-align: center;
    font-size: 80px;
}

#settings-menu {
    width: 100%;
    /*text-align: center;*/
}

#settings-menu-advanced {
    height: fit-content;
}

#tools-menu {
    width: 186px;
    margin: 10px 0;
    padding: 5px;
    float: left;
    /*background: #eee;*/
    box-sizing: border-box;
}

#puzzle-panel {
    margin-left: 186px;
}

.button {
    padding: 2px;
    border: 1px solid var(--border-color);
    cursor: default;
    --border-radius: 8px;
    text-decoration: none;
    text-align: center;
    margin-bottom: -1px;
    color: var(--text-color);
}

.button:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.button:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 5px 3px;
    cursor: pointer;
    box-shadow: 0 2px 2px 1px #333;
}

.btn:hover {
    box-shadow: 0 2px 5px 1px #000;
}

.btn.selected {
    box-shadow: 0 3px 5px 3px #000;
}

.tool-btn svg {
    width: 30px;
    height: 30px;
    margin: 10px;
    pointer-events: none;
    stroke: #000;
    stroke-width: 1px;
}

label.disabled {
    color: #888;
}

.reveal-toggle {
    cursor: pointer;
}

svg.symbol {
    display: inline;
    stroke: var(--text-color);
}

.reveal-toggle {
    display: none;
}

.reveal-toggle.visible {
    display: inherit;
}

.toggleable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

.panel {
    margin: -5px 0;
}

.section {
    padding: 5px 0;
}

a.reset {
    display: none;
}

.section.changed a.reset {
    display: inline;
}

svg.puzzle.edit .editor-selector {
    opacity: 0;
    fill: #ff0;
    display: initial;
}

svg.puzzle.edit.select-line .editor-selector.select-line:hover,
svg.puzzle.edit.select-node .editor-selector.select-node:hover,
svg.puzzle.edit.select-cell .editor-selector.select-cell:hover {
    opacity: 0.3;
}

svg.puzzle.edit .button {
    display: none;
}
