:root {
    /* colors */
    --color-black: #000;
    --color-white: #fff;
    --color-red: #f00;
    --color-orange: #f80;
    --color-yellow: #ff0;
    --color-green: #0d0;
    --color-blue: #00f;
    --color-purple: #70c;

    --text-color: #000;
    --bg-color: #0a8;
    --line-color: #344;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather');

body {
    font-family: 'Merriweather', serif;
    font-variant: small-caps;
    font-weight: bolder;
    color: var(--text-color);
}
